body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


.header {
    position: fixed;        
    top: 0;
    left: 0;
    width: 100%;
    background-color: pink;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 22px;
}


table {
    position: relative;

}

h2 {
    position: relative;
    left: 20px;
    color: green;
}


fieldset {
    position: relative;
    width: 400px;
    padding: 20px;
    background-color: white;
    border: 2px solid #555;

   
}

h1 {
    position: relative;
    color: #333;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="username"] {
    position: relative;
    width: 100%;
    padding: 6px;
  
}

input[type="submit"] {
    position: absolute;      
    background-color: #333;
    color: white;
    
}


